button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #eedada;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #c8e678;
  margin: 1rem;
}
button:hover {
  border-color: #131657;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button.active {
  background: #3e6ae1;
  color: #fff;
}
