:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
  line-height: 1.5;
  text-align: center;
}

body {
  background-color: rgb(247, 241, 234);
  place-items: center;
  min-height: 100vh;
  margin: 0px 10%;
}
.div_container {
  padding: 0px 10px;
  border: 2px solid brown;
  border-radius: 8px;
  margin: 10px 10%;
  background-color: rgb(223, 195, 163);
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}
